.content {
	padding: 10px;
}

.field {
	position: relative;
}

.cell {
	border-color: black;
	float: left;
	box-sizing: border-box;
	height:20px;
    width:20px;
	background-color: #6495ed;	
}

.cellRightBorder {	
	 border-right: 2px solid;	
}

.cellBottomBorder {	
	 border-bottom: 2px solid;	
}

.cellLeftBorder {	
	 border-left: 2px solid;	
}

.cellTopBorder {	
	 border-top: 2px solid;	
}


.inCell {
	height:20px;
    width:20px;	
	position: absolute;	 
}

.inCell:after {
	text-align: center;
	content: "In";
	color: yellow;	
}

.outCell {
	height:20px;
    width:20px;
	position: absolute;
}

.outCell:after {
	text-align: center;
	content: "Out";
	color: red;	4/
}

.cellPath {
	background-color: #0CF01B;
}

.ball{
	/*background-image:url("./images/redBall.gif");*/
	position:absolute; 
	width:20px;
	left:50px;
	top:30px;
	visibility: hidden;
	z-index: 10;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

input {
	width: 105px;
}

